textarea { width: 640px; height: 200px; }

.content { margin-top: 20pt; }

.row { margin: 0 0 20pt 0; }
.pull-left { margin-left: 10px; }
.controls { margin-left: 20px; display: inline; }
.controls a { margin: 0 10px; }
.quote { background: #f9f9f9; padding: 10px; }
.center-block { margin-left: 250px; color: #888; }
